<!DOCTYPE html>
<html class='noscript {{ if .IsHome }}home{{ end }}'>
    <head>
        {{- partial "head" . -}}
    </head>
    <body class="mdc-typography">
        {{- block "app" . -}}

            {{- partial "app-bar" . -}}

            {{- partial "app-drawer" . -}}

            <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
                <main class="main-content" id="main-content">
                    {{- block "main" . }}
                    {{- end }}
                </main>

                {{- partial "footer" . -}}

                {{- partial "nav-page" . -}}
            </div>

        {{- end -}}

        {{- partial "tail" . -}}
    </body>
</html>