<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Page.Params.redirect | absURL }}</title>
    <link rel="canonical" href="{{ print .Site.BaseURL .Page.Params.redirect | absURL }}">
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="0; url={{ print .Site.BaseURL .Page.Params.redirect | absURL }}">
  </head>
</html>