
$color-base: hsl(200, 20%, 60%);
$color-primary: hsl(200, 76%, 60%);
$color-secondary: hsl(200, 0%, 0%);
$color-clean: hsl(200, 100%, 100%);

$color-red: hsl(0, saturation($color-primary), lightness($color-primary));
$color-orange: hsl(30, saturation($color-primary), lightness($color-primary));
$color-yellow: hsl(60, saturation($color-primary), lightness($color-primary));
$color-green: hsl(120, saturation($color-primary), lightness($color-primary));
$color-turquoise: hsl(180, saturation($color-primary), lightness($color-primary));
$color-blue: hsl(240, saturation($color-primary), lightness($color-primary));
$color-purple: hsl(270, saturation($color-primary), lightness($color-primary));
$color-pink: hsl(300, saturation($color-primary), lightness($color-primary));

$color-white: hsl(hue($color-base), 20%, 98%);
$color-black: hsl(hue($color-base), 20%, 2%);

$mdc-theme-background: $color-base;
$mdc-theme-primary: $color-primary;
$mdc-theme-secondary: $color-secondary;

