@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400|PT+Sans|Cutive+Mono');

@mixin font-header {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;

    * {
        font-family: inherit !important;
    }
};
@mixin font-header-strong {
    @include font-header();
    font-weight: 300;
}
@mixin font-header-stronger {
    @include font-header();
    font-weight: 400;
}

@mixin font-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
@mixin font-text-strong {
    @include font-text();
    font-weight: 600;
}

@mixin font-data {
    font-family: 'Cutive+Mono';
    font-weight: 400;
}
