@import 'colors';

@mixin pattern($color, $pattern, $lightscale: 75) {
    background-color: $color;
    background-image: (
        url($pattern),
        radial-gradient( at 35% 30%, scale-color($color, $lightness: if(lightness($color) > 50, $lightscale, -$lightscale)), $color)
    );
    background-size: (
        20px,
        100vw 100vh
    );
    background-position: "";
    background-blend-mode: "";
    background-clip: "";
    background-origin: "";
    background-repeat: "";
    background-attachment: fixed;
}
