@function long-shadow-list($color, $length, $step: 1) {
    $list: ();
    @for $i from 1 through $length {
        $size:inspect(#{$i}px)+' ';    
        $list: append($list, ($size $size $color), 'comma');
    }
    @return $list;
}

@mixin long-box-shadow($color, $length) {
    box-shadow: long-shadow-list($color, $length);
}

@mixin long-text-shadow($color, $length) {
    text-shadow: long-shadow-list($color, $length);
    overflow: visible;
}