<header id='app-bar' class='mdc-top-app-bar mdc-top-app-bar--fixed'>
    <div class='mdc-top-app-bar__row'>
        <section class='mdc-top-app-bar__section mdc-top-app-bar__section--align-start'>
            <button class='mdc-button mdc-top-app-bar__navigation-icon'>
                <i class='material-icons'>menu</i>
            </button>
            <h3>
                <a href='{{ .Site.BaseURL }}' class='mdc-button'>
                    {{ partial "name" .Site.Params.Title }}
                </a>
            </h3>
        </section>
        <section class='mdc-top-app-bar__section mdc-top-app-bar__section--align-end'>
        </section>
    </div>
</header>
