<aside id="app-drawer" class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__content">
        <nav class='mdc-list'>
            {{ range $section := .Site.Sections }}
                <a href="{{ .Permalink }}" class='mdc-list-item'>
                    <span class='mdc-list-item__text'>{{ .Title }}</span>
                </a>
            {{ end }}
        </nav>

        {{ if (eq .Section "docs") }}
            <hr class="mdc-list-divider">
            <nav class='mdc-list'>
                {{ partial "nav-directory" . }}
            </nav>
        {{ end }}
    </div>
</aside>