<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto|Material+Icons">

{{ $baseUrl := resources.FromString "style/baseUrl.scss" (print "$baseUrl: '" .Site.BaseURL "';") }}
{{ $mainScss := resources.Get "style/main.scss" }}
{{ $cssOptions := (dict "includePaths" (slice "node_modules") "outputStyle" "compressed" "targetPath" "style/main.css") }}
{{ $mainStyle := slice $baseUrl $mainScss | resources.Concat "style/bundle.scss" | resources.ToCSS $cssOptions | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $mainStyle.Permalink }}"/>

<script>document.querySelector("html").classList.remove("noscript");</script>