{{ $options := cond (reflect.IsMap .) . (dict "active" .) }}
    
{{ $section := default (default (dict) $options.active.FirstSection) $options.section }}
{{ $current := default $section $options.current }}
{{ $indent := default "" $options.indent }}
{{ $children := sort (union $current.Sections $current.Pages) "Weight" "desc" }}
{{ $listSelf := (default false $options.listSelf) }}

<div class='nav-directory'>
    {{ if $listSelf }}
        <a href='{{ $current.Permalink }}' class='mdc-list-item
            {{- if eq $current $options.active }} mdc-list-item--activated {{ end -}}
            {{- if gt (len $children) 0 }} nav-directory-haschildren {{ end -}}
            ' tabindex="0">
            <span class='nav-directory-indent'>{{ $indent }}</span>
            <span class='mdc-list-item__text'>{{ $current.Title }}</span>
        </a>
    {{ end }}
    {{ if gt (len $children) 0 }}
        <div class='
            {{- if $listSelf }} nav-directory-children {{ end -}}
            '>
            {{ range $children }}
                {{ partial "nav-directory" (dict "active" $options.active "isItem" true "listSelf" true "section" $section "current" . "indent" (print $indent (cond $listSelf "- " "")) ) }}
            {{ end }}
        </div>
    {{ end }}
</div>
