<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="https://unpkg.com/jquery@latest/dist/jquery.min.js"></script>

{{ $mainScript := resources.Get "script/main.js" | resources.Minify | resources.Fingerprint }}
<script type="text/javascript" src="{{ $mainScript.Permalink }}" integrity="{{ $mainScript.Data.Integrity }}"></script>
