@import "@material/top-app-bar/mdc-top-app-bar";

#app-bar {
    @include mdc-top-app-bar-fill-color($color-white);
    @include mdc-top-app-bar-ink-color($color-black);
    @include mdc-top-app-bar-icon-ink-color($color-black);

    box-shadow: 0 -0.5em 0.5em 0.5em grayscale($color-base);
    z-index: 7;

    a {
        text-decoration: none;
    }

    .mdc-top-app-bar__title {
        @include font-header-stronger();
    }

    .mdc-button {
        font-size: inherit;
    }
}
