#app-drawer {
    position: fixed;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
}

@mixin app-drawer-open {
    #app-drawer {
        display: flex;
    }
    #app-drawer+.mdc-drawer-app-content {
        margin-left: 256px;
    }

    #app-bar {
        .mdc-top-app-bar__navigation-icon {
            display: none;
        }

        .mdc-top-app-bar__title {
            padding-left: 0;
        }
    }
}

html.noscript {
    @include app-drawer-open();
}

@media (min-width: $layout-breakpoint-xl) {
    @include app-drawer-open();
}
