body
{
    @include font-text;

    margin: 0;
}

h1, h2, h3, h4, h5, h6
{
    @include font-header;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

.main-content
{
    margin-left: 2vmin;
    margin-right: 2vmin;
    @media (max-width: $layout-breakpoint-s) {
        margin-left: 4px;
        margin-right: 4px;
    }

}

footer
{
    @include mdc-typography(button);
    padding: 1em;
}

a:active
{
    color: $color-primary;
}
a:visited
{
    color: inherit !important;
}

code
{
    display: inline-block;
    padding: .2em .6em;

    pre & {
        display: block;
        padding: .5em 1em;
    }
    
    background: $color-clean;
    width: fit-content;
}
