@import "material-components-web/material-components-web";

html.home
{
    @include pattern($color-base, $baseUrl + '/patterns/structure-hexagon.opacity02.png');

    body {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-content, .main-content > * {
        max-width: 100%;
    }

    h1 {
        font-size: 10vmin;
        padding: 8vmin 12vmin;
        @media (min-width: $layout-breakpoint-l) {
            padding: 10vmin 12vmin;
        }
        @media (max-height: $layout-breakpoint-s), (max-width: $layout-breakpoint-s) {
            font-size: 10vmin;
        }
        @media (max-width: $layout-breakpoint-xs) {
            font-size: 40px;
        }
        @include font-header-strong();

        background-image: (
            radial-gradient(ellipse closest-side at 35% 45%, change-color($color-primary, $alpha: 1), change-color($color-primary, $alpha: 0)),
            radial-gradient(ellipse closest-side at 45% 50%, change-color($color-primary, $alpha: 0.5), change-color($color-primary, $alpha: 0)),
            radial-gradient(ellipse closest-side at 60% 55%, change-color($color-primary, $alpha: 0.8), change-color($color-primary, $alpha: 0))
        );
        background-size: (
            100% 100%
        );
        color: mdc-theme-prop-value(text-primary-on-background);
    }

    a {
        margin: .5em;
        padding: 2em;
    }
}
