span.name {
    display: inline-block;

    text-transform: none;

    span.logo {
        display: inline-block;

        letter-spacing: normal;
        text-transform: none;

        background-image: url($baseUrl + '/img/nextdev.png');
        background-size: auto 1.278em;
        background-position: calc(50% + 0.04em) calc(50% + 0.04em);
        background-repeat: no-repeat;

        color: rgba(150,0,0,0);
    }
}

