.nav-directory {

    .nav-directory-haschildren {
        margin-bottom: 0;
    }

    .nav-directory-indent {
        color: change-color($color-base, $alpha: 0.5);
        white-space: pre;
    }

}