{{ define "app" }}

<main id='main-content' class='main-content'>
    <h1>
        {{ partial "name" .Site.Params.Title }}
    </h1>
    {{ .Content }}
    <section>
        {{ range $section := .Site.Sections }}
            <a href="{{ .Permalink }}" class='mdc-button mdc-button--raised'>
                {{ .Title }}
            </a>
        {{ end }}
    </section>
</main>

{{ end }}
